<h1 style="text-align:center">Category list</h1>

<%= link_to "Create new category ", new_category_path,  
{:style=>'margin:20px;font-size:20px', :class => ""} %>





<br>
<br>
<br>



  <% if  @categories.length == 0 %>
<h1 style="text-align:center">No Category list to be shown</h1>
 <% else %>

<div style='display:flex'>
    <% @categories.each do |category| %>

<div style='background:#f7f4f4; width:200px; height: 200px; margin: 20px;text-align:center;padding:30px'>

<span style='font-weight:bold;font-size: 25px'>
<%= category.name %>
</span>
<br>

<br>
<span >
<%= category.desccriptioin %>
</span>
<br>

<br>
 <%= link_to 'Edit', edit_category_path(category) , 
       {:style=>'margin:0px 20px', :class => ""}%>

        <%= link_to 'Delete', category, method: :delete,
        data: { confirm: 'Are you sure?' } %>
<br>

<br>

         <%= link_to 'Add Products', assignproducts_path, 
       {:style=>'margin:0px 20px', :class => ""}%>
</div>
  <% end %>

</div>

  <% end %>



